{% extends 'base.html' %}
{% block title %}HMI{% endblock title %}
{% block body %}

<form class ="row g-3  pl-5" action="/daqpanelopen">
    <div class="form-group row mt-5">
      <label for="fname" class="col-sm-2 col-form-label"style="font-size:20px">DAQ Panel</label>
      <div class="col-sm-10">
        <button type="submit" readonly class="btn btn-primary"style="font-size:20px" >Run</button>
      </div>
    </div>
</form>
<form class ="pl-5" action="/daqpanelbharat">
  <div class="form-group row">
    <label for="fname" class="col-sm-2 col-form-label"style="font-size:20px">Industry Monitoring</label>
    <div class="col-sm-10">
      <button type="submit" readonly class="btn btn-primary"style="font-size:20px" >Run</button>
    </div>
  </div>
</form>
{% endblock body %}

