{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}



<div class="container-fluid px-4 mt-5">

  <p class="text-justify text-xl  px-4" style = " text-align: justify; color:#B31942; font-family:Arial, Helvetica, sans-serif;">Pilot Project on Development and Implementation of Industry 4.0 Protocols for Rail-Coach Design & Manufacturing at Modern Coach Factory, Raebareli under Technology Mission for Indian Railways (TMIR) jointly by –
    Ministry of Railways, Ministry of Science & Technology, DST, Ministry of Human Resource Development </p> <br> 
    <div class="container-fluid">
      <div class="card" style="width: 100%;margin: auto;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <img src="static/images/asdf.png" class="card-img-top "style="height:500px;" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title" style="font-size:30px; font-family: Georgia, 'Times New Roman', Times, serif;">Introduction</h5> -->
          <p class="card-text" style="font-family:Arial, Helvetica, sans-serif;font-size:medium; color:#0A3161;">
            The Modern Coach Factory (MCF) increased production from about 500 coaches per year by 3–4 times within a year and this was also enabled significantly by the adoption of Industry 4.0. Our Hon’ble Prime Minister’s inspection of MCF in December 2018 is an inspiration to proliferate this initiative. This project envisages further implementation in MCF (enabling increase to 5000 coaches i.e. 10 times with Industry 4.0) and proliferation in railway units across India. This will also be useful in other Government Units such as Defense Production and in the private sector</p>
          
        </div>
      </div>
    </div>
        <br><br>
  </div>
</div>
<div class= "container-fluid px-4 mx-auto">
  <h4 class="text-xl text-blue-500" style = "color:#B31942;"><b>Before Industry 4.0</b></h4><br>
    <div class="flex flex-wrap pt-2 ">
      <div class="xl:w-1/3 lg:w-1/4 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl  font-medium title-font mb-2" style="color:#B31942;">Industry 1.0</h2>
        <p class="leading-relaxed text-base mb-4"><em>refers to the first industrial revolution  (1760 – 1840) 
          transition from hand production to machines through the use of steam power and water power 
        had consequences on textile manufacturing, which was first to adopt such changes, as well as iron industry, agriculture, and mining</em></p>
        
      </div>
      <div class="xl:w-1/3 lg:w-1/4 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl font-medium title-font mb-2" style="color:#B31942;">Industry 2.0</h2>
        <p class="leading-relaxed text-base mb-4"><em>refers to the second industrial revolution (1870 - 1914) 
          extensive railroad networks and the telegraph which allowed for faster transfer of people and ideas
          ever more present electricity which allowed for factory electrification and the modern production line</em></p>
      </div>
      <div class="xl:w-1/3 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl  font-medium title-font mb-2" style="color:#B31942;">Industry 3.0</h2>
        <p class="leading-relaxed text-base mb-4"><em>refers to the third industrial revolution (late 20th century) also called digital revolution
          from the production of Z1 (electrically driven mechanical calculator) to the development of communication technologies with the supercomputer.</em></div>
          </p>
      </div><br><br>
      <div class="py-1 bg-white"> 
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="lg:text-center">
            <h2 class="text-base text-red-500 font-semibold tracking-wide uppercase" style = "color:#B22234">Industry 4.0
            </h2>
            <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-green-700 sm:text-4xl"style = "color:#3C3B6E;">
              A full-fledged solution for Industrial Automation
            </p>
            <p class="mt-4 max-w-2xl text-xl text-blue-700 lg:mx-auto text-center"><em>
              Industry 4.0 is projected as the fourth industrial revolution (Hannover Messe, 2011) promotes computerisation of manufacturing
              strong customization of products under the conditions of highly flexible (mass) production. </em>  
            </p>
          </div>
        </div>
      </div>
    </div> 

<br>
    {% comment %} <div class="container-fluid  mt-3 mb-3 mx-8 "> {% endcomment %}
      <div class="container">
        <img class="center" src="/static/images/MCF_OFC_LAYOUT.png">
      </div>
     
</div>

{% endblock body %}