{% extends 'base.html' %}
{% block title %}HMI{% endblock title %}
{% block body %}

<div class="container  mb-3 text-center">
    
    <p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-green-700 sm:text-4xl text-center">
       Schedular Code
    </p>
    <div class="row">
        <div class="col-12"><br>
        <h5 class="text-left text-blue-900 font-bold text-2xl ">Python Simpy Simulation Code</h5>
        <img class="img-fluid" src="/static/images/Sch1.png">
        </div>
        <div class="col-12 mt-4">
        <!-- <h5 class="text-left text-blue-900 font-bold text-2xl ">NI-OPC Labview Code</h5> -->
        <img class="img-fluid" src="/static/images/Sch2.png">
        </div>
        <div class="col-12 mt-4">
        <!-- <h5 class="text-left text-blue-900 font-bold text-2xl ">Side Wall Left Line</h5> -->
        <img class="img-fluid" src="/static/images/Sch3.png">
        </div>
        <div class="col-12 mt-4">
        <!-- <h5 class="text-left text-blue-900 font-bold text-2xl ">Side Wall Right Line</h5> -->
        <img class="img-fluid" src="/static/images/Sch4.png">
        </div>
        <div class="col-12 mt-4">
        <!-- <h5 class="text-left text-blue-900 font-bold text-2xl ">Roof Line</h5> -->
        <img class="img-fluid" src="/static/images/Sch5.png">
        </div>
    </div>
</div>

{% endblock body %}